/* src/index.css o src/App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eef1f5; /* Un fondo suave para la página */
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Para asegurar que el mapa de Leaflet tenga altura si no se especifica directamente */
.leaflet-container {
  height: 100%; /* O la altura que definas en el contenedor del mapa */
  width: 100%;
}